@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background: linear-gradient(135deg, #b3aaeb 0%, #6d63bc 100%);
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
  }
  
  span {
    font-size: 14px;
    margin-top: 25px;
  }
  
  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s ease-in-out;
  }
  
  a:hover {
    color: #4bb6b7;
  }
  
  .content {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
  }
  
  .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content input {
    accent-color: #333;
    width: 12px;
    height: 12px;
  }
  
  .content label {
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
  }

button {
  border-radius: 20px;
  border: 1px solid #968aec;
  background-color: #968aec;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 80px;
  letter-spacing: 1px;
  margin: 20px 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(0.95);
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1px 1px;
  text-align: center;
  border-radius: 15px;
}

input[type="email"], input[type="password"], input[type='name'], input[type='address'] {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 15px 15px;
  margin: 13px 0;
  width: 102%;
}

.container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 500px;
  max-width: 99%;
  min-height: 700px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  transition: 0.3s ease-in-out;
}

.social-container a:hover {
  border: 1px solid #968aec;
}
