@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #b3aaeb; 
    color: #000000;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

header .logo h2 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

header .logo {
    text-align: center;
    width: 100%;
}

header .icon {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin: 0 10px;
}

header .icon:hover {
    color: #007bb5;
}

.post-form {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.file-upload {
    display: flex;
    align-items: center;
    background-color: #6d63bc;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    gap: 8px;
    margin-bottom: 10px;
}

.file-upload ion-icon {
    font-size: 20px;
}

.file-upload:hover {
    background-color: #6d63bc;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #6d63bc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #6d63bc;
}

.post-feed {
    margin-top: 30px;
}

.post {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.post-image img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.post-actions {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    color: #333;
}

.post-actions button {
    background: none;
    border: none;
    color: #6d63bc;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.post-actions button:hover {
    color: #6d63bc;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6d63bc;
  border-radius: 8px;
  border: 2px solid #ddd;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d63bc;
}
